name: lint

on:
  - push
  - pull_request

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'
      - uses: golangci/golangci-lint-action@v6.5.0
        with:
          version: latest
  gomod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'
      - run: go mod tidy -diff
